body {
    background-color:#000000;
    color: #FFFFFF;
    font-family: "Roboto", "Courier", monospace;
    margin:0;
    padding:0;
    height:100%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 29%;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #FFFFFF;
    background: url('../images/divbg.gif');
    background-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media (max-width:750px){
    .center {
        height: 240px;
    }
}

.center:hover {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 15px #ffffff;
} 

.link, .link:visited {
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.15s;
}

.link:hover {
    text-decoration: none;
    color: #9056e6;
    transition: 0.15s;
}

.floater {
    filter: drop-shadow(0px 0px 0px #ccc);
    transition: 0.15s;
}

.floater:hover {
    filter: drop-shadow(0px 0px 4px #9056e6);
    transition: 0.15s;
}

.scrollbg {
    width: 100%;
	height: 100%;
	background-repeat: repeat;
	position:fixed;
    background: url('../images/divbg.gif');
    background-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -2;
}

.vines {
    width: 100%;
	height: 100%;
	background-repeat: repeat;
	position:fixed;
	top:0px;
	left:0px;
	background-image: url("../images/vines.png");
	will-change: transform, filter;
	z-index:-1;
    animation: backgroundScroll 100s linear infinite;
}

@keyframes backgroundScroll {
    0% {background-position: 0px 0px; filter: opacity(100%);}
    50% {background-position: 256px 256px; filter: opacity(100%);}
    100% {background-position: 512px 512px; filter: opacity(100%);}
}

/* floaty ppl  */

#face {
    position: absolute;
    left: 112px;
    top: 120px;
    width: 20px;
}

#musicgif {
    position: absolute;
    right: 100px;
    top: 154px;
}

#bloggy {
    position:absolute;
    left: 100px;
    top: 190px;
}

#tv {
    position: absolute;
    right: 103px;
    top: 225px;
}

#instafriend {
    position:absolute;
    left: 102px;
    top: 260px;
}

#question {
    position: absolute;
    right: 103px;
    top: 295px;
}

@media (max-width:750px){
    #musicgif {
        top: 150px;
    }

    #bloggy {
        top: 185px;
    }
    
    #tv {
        top: 220px;
    }
    
    #instafriend {
        top: 256px;
    }

    #question {
        top: 290px;
    }
}

#info.hover {
    text-decoration: none;
    color: #9056e6;
    transition: 0.15s;
}

#face.hover {
    filter: drop-shadow(0px 0px 4px #9056e6);
    transition: 0.15s;
}

#music.hover {
    text-decoration: none;
    color: #9056e6;
    transition: 0.15s;
}

#musicgif.hover {
    filter: drop-shadow(0px 0px 4px #9056e6);
    transition: 0.15s;
}

#blog.hover {
    text-decoration: none;
    color: #9056e6;
    transition: 0.15s;
}

#bloggy.hover {
    filter: drop-shadow(0px 0px 4px #9056e6);
    transition: 0.15s;
}

#video.hover {
    text-decoration: none;
    color: #9056e6;
    transition: 0.15s;
}

#tv.hover {
    filter: drop-shadow(0px 0px 4px #9056e6);
    transition: 0.15s;
}

#insta.hover {
    text-decoration: none;
    color: #9056e6;
    transition: 0.15s;
}

#instafriend.hover {
    filter: drop-shadow(0px 0px 4px #9056e6);
    transition: 0.15s;
}

#secret.hover {
    text-decoration: none;
    color: #9056e6;
    transition: 0.15s;
}

#question.hover {
    filter: drop-shadow(0px 0px 4px #9056e6);
    transition: 0.15s;
}