<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="assets/css/info.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
<html>
    <body>
        <div class="infobg"></div>
        <div class="spinborder"></div>
        <div class="center">
            {{ content }}
        </div>
    </body>
</html>